@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;400;600;700;800&family=Libre+Bodoni:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=close,dark_mode,light_mode,menu,money,monitoring,more_vert,night_sight_auto,pie_chart,speed,trending_down,trending_up&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* // Base color classes
Gain - Mint - #10B981 emerald-500
Loss - Imperial Red - #EF4444 - red-500
Buy - Yellow Green - #84CC16 - lime-500
Sell - Xanthous - #EAB308 - yellow-500
Action - Azure - #3B82F6 - blue-500
Danger - Cornell red - #b91c1c - red-700 */


:root {
    interpolate-size: allow-keywords;
}

a.active {
    @apply text-amber-700 dark:text-blue-500 font-extrabold
}

html {
    min-height: 100vh;
    height: auto !important;
    overflow: hidden;

}

body {
    overflow: scroll;
}

/*[popover] {*/
/*    !*@apply hidden*!*/
/*    position: relative;*/

/*    &:popover-open {*/
/*        @apply flex absolute mr-8*/
/*    }*/

/*    &::backdrop {*/
/*        display: none;*/
/*    }*/
/*}*/

@layer components {

    .glass-effect {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        @apply dark:bg-opacity-40 dark:bg-neutral-900 bg-white rounded-2xl bg-opacity-40 border border-black dark:border-white border-opacity-15 dark:border-opacity-15 box-content
    }

    .icon-bg {
        @apply bg-amber-400 dark:bg-indigo-600 text-neutral-700 dark:text-neutral-300
    }

    .dark-light-text {
        @apply text-neutral-950 dark:text-neutral-400
    }

    .base-button {
        @apply rounded px-12 py-3 font-bold transition-all duration-150 shadow-none
    }

    .base-button:hover, .base-button:focus, .base-button:active {
        @apply dark:bg-blue-800 bg-blue-400 border-blue-400
    }

    .primary-button {
        @apply base-button bg-blue-500 text-white hover:text-neutral-950 dark:hover:text-white

    }

    .secondary-button {
        @apply base-button border-blue-500 border-2

    }

    .primary-input {
        @apply rounded dark:bg-neutral-700 dark-light-text
    }

    a {
        @apply hover:text-amber-700 dark:hover:text-blue-500 hover:underline underline-offset-8
    }

    .goog-te-gadget {
        width: 100%;
        border: none !important;
        @apply bg-transparent text-inherit !important;
    }

    #google_translate_element {
        @apply mx-2;
    }

    .goog-te-gadget select {
        @apply px-2 py-2 mx-0 m-0 border-0 bg-transparent text-inherit hover:bg-blue-600 hover:text-white  !important;
    }

}

@layer base {

    :root {
        --action: 217 91% 60%;
        --danger: 0 74% 42%;
        --gain: 160 84% 39%;
        --loss: 0 84% 60%;
        --buy: 84 81% 44%;
        --sell: 45 93% 47%;
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --primary: 0 10% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 72.2% 50.6%;
        --destructive-foreground: 0 0% 98%;
        --ring: 0 0% 3.9%;
        --radius: 0.25rem;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --primary: var(--action);
        --primary-foreground: 0 0% 0%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --ring: 0 0% 83.1%;
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}