.h-inherit {
  height: inherit;
}

.vignette {
  background-image: radial-gradient(circle at center, var(--tw-gradient-stops));
}

/*Styling*/

@layer components {
  /*Dark Light Checkers need to be here*/
  .glass-effect {
    backdrop-filter: blur(10px) saturate(150%);
    @apply card bg-opacity-50 box-content;
  }

  .card {
    @apply bg-background rounded-xl shadow shadow-foreground dark-light-border;
    --tw-shadow-colored: 0px 0px 0px 0px var(--tw-shadow-color);
  }

  .card:has(.card) {
    @apply bg-neutral-200 dark:bg-neutral-950;
  }

  .dark-light-bg {
    @apply bg-accent;
  }

  .dark-light-border {
    @apply border border-foreground border-opacity-20;
  }

  .body-text {
    @apply text-neutral-600 dark:text-neutral-400;
  }

  .dark-light-text {
    @apply text-neutral-700 dark:text-neutral-300;
  }

  .grid-auto-center {
    grid-template-rows: 1fr auto;
  }
}

@layer base {
  :root {
    /* --ring: 0 0% 3.9%; */
    --radius: 0.25rem;
  }
}
